.carHud {
    display: flex;
    opacity: 0;
    position: absolute;
    right: 3vh;
    bottom: 3vh;
    flex-direction: row;
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
}

.carHudLeft {
    flex-direction: column;
    display: flex;
}

.carHudRight {    
    padding-left: 1vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carHudRight svg {
    font-size: 1.5vh;
}

.carHudTop {
    display: flex;
    align-items: center;
    height: 2vh;
}

.carHudTop svg {
    color: #fff;
    font-size: 1.3vh;
}

.carHudFuelBar {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.45vh;
    width: 10vh;
    height: 0.9vh;
    position: relative;
    margin-left: 1vh;
}

#carHudFuelBarBg {
    height: 100%;
    width: 29%;
    border-radius: 0.45vh;
    background: linear-gradient(90.01deg, #D2D2D2 0%, #FFFFFF 100%), rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px rgba(242, 201, 76, 0.25);
    position: relative;
}

#carHudFuelBarBg::after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 1vh solid #fff;
    border-bottom: 0.2vh solid #fff;
    border-right: 0.2vh solid #fff;
    border-left: 0.1vh solid #fff;
    background: #fff;
}

.carHudBottom {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2vh;
    font-weight: 700;
    padding-top: 0.5vh;
}

#carspeed {
    font-size: 5vh;
    font-weight: 700;
}