.circlemap {
    display: none;
}

.circlemapoutline {
    display: block;
    bottom: 4.8vh;
    left: 7.3vh;
    width: 25vh;
    height: 25vh;
    border: 0.3vh solid rgba(255,255,255,0.2);
    border-radius: 50vh;
    position: absolute;
}

#circleCompass {
    top: -3vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 5.5vh;
    height: 4.5vh;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.7vh;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* minimap cricle health */
.minimapBarCenter {
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    width: 28vh;
    justify-content: space-between;
    left: -1.5vh;
}

.minimapHealth {
    width: 10.5vh;
    overflow: hidden;
}

.minimapHealthCircle {
    width: 28vh;
    height: 28vh;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.6vh solid rgba(92, 192, 96, 0.3);
    border-bottom-color: #5CC060;
    border-right-color: #5CC060;
    transform: rotate(25deg);
}

.minimapArmor {
    width: 10.5vh;
    overflow: hidden;
    transform: rotate(180deg);
}

.minimapArmorCircle {
    width: 28vh;
    height: 28vh;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.6vh solid rgba(255, 255, 255, 0.3);
    border-bottom-color: var(--armor);
    border-right-color: var(--armor);
    transform: rotate(-164deg);
}

/* Mic */
.microphoneBox {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -4.4vh;
    position: absolute;
}

.microphoneMicrophone {
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    font-size: 1.9vh;
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
}

.microphoneMiniBoxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 0.6vh;
    margin-top: 1vh;
}

.microphoneMiniBox {
    width: 0.8vh;
    height: 0.25vh;
    border-radius: 25vh;
    background: #fff;
    box-shadow: var(--box-shadow-color);
}

/* cricle street */
.circleStreetNameBox {
    position: absolute;
    bottom: 8vh;
    left: 33vh;
    display: flex;
}

.circleStreetNameBoxLeft {
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    padding-right: 1.5vh;
    font-size: 1.9vh;
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
}

.circleStreetNameBoxRight {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
}

#circleStreetNameBoxTop {
    font-size: 1.6vh;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    font-weight: 700;
}

#circleStreetNameBoxBottom {
    font-size: 1.4vh;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
    padding-top: 0.5vh;
}

/* status icon */
.circleStatusHud {
    display: flex;
    width: 32vh;
    font-size: 1.4vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1vh;
    position: absolute;
    bottom: 4vh;
    left: 31vh;
}
