.normalHud {
  display: none;
}

.normalStatusHud {
  display: flex;
  position: absolute;
  bottom: 2vh;
  left: 2vh;
}

.normalHudTop {
  position: absolute;
  bottom: 6vh;
  left: 2vh;
}

.normalStatusHudTop {
  margin-bottom: 1vh;
  display: flex;
}

.normalStatusBar {
  margin-right: 0.4vh;
}

.normalStatusBarBig {
  width: 15vh !important;
  transform: none !important;
}

.normalStatusBarBig svg {
  transform: none !important;
  font-size: 1.6vh;
}

/* street name - compas */
.normalStreetNameCompass {
  top: 2vh;
  left: 2vh;
  display: flex;
}

#normalCompass {
  background: var(--statusBG);
}

#normalhealth {
  background: var(--health);
}

#normalarmor {
  background: var(--armor);
}

.normaleMicrophoneBox {
  display: flex;
  background: var(--statusBG);
  border-radius: var(--boder-radius-box);
  margin-right: 0.4vh;
  width: 3vh;
  height: 3vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.normaleMicrophoneBox i {
  font-size: 1.6vh;
}

body.layout1 .normalStreetNameCompass {
  flex-direction: column;
  align-items: flex-start;
}
body.layout1 .normaleMicrophoneBox {
  order: 2;
}
body.layout1 #normalCompass,
body.layout1 .normalStreetNameCompassRight {
  order: 1;
}

body.layout3 .normalStatusHud .normalStatusBarBig {
  width: 3vh !important;
  transform: rotate(-90deg);
}
body.layout3 .normalStatusBarBig svg {
  transform: rotate(90deg);
}

body.layout3 .normalHudTop {
  position: absolute;
  bottom: 6vh;
  left: 2vh;
}

body.layout3 .normalStreetNameCompass {
  position: static;
  top: 0;
  left: 0;
  bottom: unset;
}

body.layout3 .normalStatusHudTop {
  position: static;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
}

body.layout4 .normaleMicrophoneBox {
  display: none;
}
body.layout4 #normalCompass {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
