/* notif */
#notif {
    display: flex;
    position: absolute;
    width: 100vw;
    z-index: 2;
    filter: drop-shadow(0px .4vh .4vh rgba(0, 0, 0, 0.25));
    overflow: hidden;
    justify-content: flex-end;
    max-width: 60vw;
    overflow: hidden;
    right: 20vh;
    flex-wrap: wrap;
}

.notifBox {
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 0.2vh;
    font-family: TTNormsRegularTGI;
    margin: 1vh;
    font-size: 1.3vh;
    padding: 0.6vh;
    gap: 0.4vh;
}

.notifBox.primary {
    background: radial-gradient(65.26% 65.26% at 50% 50%, rgba(180, 180, 180, 0.07) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.65);
}

.notifBox.error {
    background: radial-gradient(65.26% 65.26% at 50% 50%, rgba(188, 45, 45, 0.175) 0%, rgba(188, 45, 45, 0.075) 100%), radial-gradient(65.26% 65.26% at 50% 50%, rgba(180, 180, 180, 0.07) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.65);
}

.notifBox.success {
    background: radial-gradient(65.26% 65.26% at 50% 50%, rgba(45, 188, 59, 0.175) 0%, rgba(45, 188, 59, 0.075) 100%), radial-gradient(65.26% 65.26% at 50% 50%, rgba(180, 180, 180, 0.07) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.65);
}

.notifBoxType {
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2vh;
    color: #FFFFFF;
    font-size: 1.5vh;
}

.notifBoxText {
    line-height: 1.7vh;
    padding-right: 0.5vh;
}

.notifBoxType.primary {
    background: radial-gradient(65.26% 65.26% at 50% 50%, rgba(180, 180, 180, 0.07) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.8);
}

.notifBoxType.error {
    background: radial-gradient(179.41% 179.41% at 50% 50%, rgba(188, 45, 45, 0.7) 0%, rgba(188, 45, 45, 0.3) 100%), radial-gradient(65.26% 65.26% at 50% 50%, rgba(180, 180, 180, 0.07) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.8);
}

.notifBoxType.success {
    background: radial-gradient(179.41% 179.41% at 50% 50%, rgba(45, 188, 59, 0.7) 0%, rgba(45, 188, 59, 0.3) 100%), radial-gradient(65.26% 65.26% at 50% 50%, rgba(180, 180, 180, 0.07) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.8);
}